In [1]:
#get data and view header

import pandas as pd

Location = "datasets/axisdata.csv"
df = pd.read_csv(Location)

df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [3]:
#a) average cars sold per month
df['Cars Sold'].mean()

3.9229229229229228

In [4]:
#b) max cars sold per month
df['Cars Sold'].max()

7

In [5]:
#c) min cars sold per month
df['Cars Sold'].min()

1

In [18]:


#for reference count number of women salespersons
df.loc[df['Gender'].str.contains('F')==True].count()

Fname               489
Lname               489
Gender              489
Hours Worked        489
SalesTraining       489
Years Experience    489
Cars Sold           489
dtype: int64

In [19]:
#d) average cars sold per month by gender

df.loc[df['Gender'].str.contains('F')==True]['Cars Sold'].mean()

3.7607361963190185

In [9]:
#e) average hours worked by people selling > 3 cars per month
df.loc[df['Cars Sold'] > 3]['Hours Worked'].mean()

34.740237691001695

In [10]:
#f) average years of experience
df['Years Experience'].mean()

3.026026026026026

In [11]:
#g) average years of experience for people selling > 3 cars per month
df.loc[df['Cars Sold'] > 3]['Years Experience'].mean()

3.0492359932088284

In [2]:
#h) average cars sold per month by whether or not they have had sales training
df.groupby('SalesTraining')['Cars Sold'].mean()

SalesTraining
N    3.573850
Y    4.168942
Name: Cars Sold, dtype: float64

In [4]:
#i) What do you think is the best indicator of whether someone is a good salesperson?
df.groupby('Gender')['Cars Sold'].mean()

Gender
F    3.760736
M    4.078431
Name: Cars Sold, dtype: float64

In [6]:
#i) What do you think is the best indicator of whether someone is a good salesperson?
df.groupby('Hours Worked')['Cars Sold'].mean()

Hours Worked
20    3.264706
21    2.897436
22    3.560976
23    3.296296
24    3.571429
25    3.575758
26    3.548387
27    3.394737
28    4.032258
29    3.780488
30    3.694444
31    4.135135
32    4.297297
33    3.736842
34    3.666667
35    3.951220
36    3.933333
37    3.857143
38    4.261905
39    4.105263
40    4.151515
41    4.171429
42    4.081081
43    4.605263
44    4.315789
45    4.400000
46    4.419355
47    4.655172
48    4.666667
Name: Cars Sold, dtype: float64

In [5]:
#i) What do you think is the best indicator of whether someone is a good salesperson?
df.groupby('Years Experience')['Cars Sold'].mean()

Years Experience
1    3.732240
2    3.840580
3    4.014151
4    4.020513
5    3.990099
Name: Cars Sold, dtype: float64